.movie-card{
    /* background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    flex-direction: column; */
    font-family:'Gill Sans', Calibri, 'Trebuchet MS', sans-serif;
    outline: 2px solid lightgray;
    text-align: center;
    position: relative;
    float: left;
    margin-left: 15px;
    width: 22%;
    margin-top: 10px; 
    margin-bottom: 10px; 
     
}
 /* .info{
    /* padding-top: 3px; */
    /* outline: 1px solid lightgray; */
    /* height: 275px;  
 } */
 .movie-card img {
    padding-top: 10px;
    width: 70%;
} 

.movie-card h4{
    padding: 5px;
}

.more{
    font-weight: bold; 
}

.hide{
    display: none;
}

.borrar{
    display: flex;
    margin-left: auto;
}